/* Spacers utility classes */

// loop for each spacer
@if ( variable_exists(tif-compiled-spacers-padding ) or variable_exists(tif-compiled-spacers-margin ) ) {
  @each $key,
  $value in $utils-spacers {

    @if variable_exists(tif-compiled-spacers-padding ) {

      .p-#{$key} {
        padding: $value;
      }

      .pt-#{$key} {
        padding-top: $value;
      }

      .pr-#{$key} {
        padding-right: $value;
      }

      .pb-#{$key} {
        padding-bottom: $value;
      }

      .pl-#{$key} {
        padding-left: $value;
      }

      .px-#{$key} {
        padding-left: $value;
        padding-right: $value;
      }

      .py-#{$key} {
        padding-top: $value;
        padding-bottom: $value;
      }

    }

    @if variable_exists(tif-compiled-spacers-margin ) {

      .m-#{$key} {
        margin: $value;
      }

      .mt-#{$key} {
        margin-top: $value;
      }

      .mr-#{$key} {
        margin-right: $value;
      }

      .mb-#{$key} {
        margin-bottom: $value;
      }

      .ml-#{$key} {
        margin-left: $value;
      }

      .mx-#{$key} {
        margin-left: $value;
        margin-right: $value;
      }

      .my-#{$key} {
        margin-top: $value;
        margin-bottom: $value;
      }

    }

    @if variable_exists(tif-compiled-spacers-has-bp) {
      // loop for each breakpoint
      @each $bp,
      $bpv in $spacers-breakpoints {

        @media (min-width: #{$bpv}) {

          @if variable_exists(tif-compiled-spacers-padding ) {

            .#{$bp}\:p-#{$key} {
              padding: $value;
            }

            .#{$bp}\:pt-#{$key} {
              padding-top: $value;
            }

            .#{$bp}\:pr-#{$key} {
              padding-right: $value;
            }

            .#{$bp}\:pb-#{$key} {
              padding-bottom: $value;
            }

            .#{$bp}\:pl-#{$key} {
              padding-left: $value;
            }

            .#{$bp}\:px-#{$key} {
              padding-left: $value;
              padding-right: $value;
            }

            .#{$bp}\:py-#{$key} {
              padding-top: $value;
              padding-bottom: $value;
            }

          }

          @if variable_exists(tif-compiled-spacers-margin ) {

            .#{$bp}\:m-#{$key} {
              margin: $value;
            }

            .#{$bp}\:mt-#{$key} {
              margin-top: $value;
            }

            .#{$bp}\:mr-#{$key} {
              margin-right: $value;
            }

            .#{$bp}\:mb-#{$key} {
              margin-bottom: $value;
            }

            .#{$bp}\:ml-#{$key} {
              margin-left: $value;
            }

            .#{$bp}\:mx-#{$key} {
              margin-left: $value;
              margin-right: $value;
            }

            .#{$bp}\:my-#{$key} {
              margin-top: $value;
              margin-bottom: $value;
            }
          }
        }
      }
    }
  }
}
