
/* ----------------------------- */
/* Tif - Featured                */
/* ----------------------------- */

.tif-featured-area [class*="title"],
.tif-featured-area .inner,
.tif-featured-area p {
	margin: 0;
	padding: 0;
}
.tif-featured-area .tif-boxed {
	max-width: 1200px;
	margin: 0 auto;
}
.tif-featured-area {
	gap: $tif-length-medium;
}
.tif-featured-area.col-layout {
	text-align: center;
}
.tif-featured-area .featured {
	padding: $tif-length-medium;
}
.tif-featured-area .entry-thumbnail {
	margin: 0 auto;
	max-width: 100%;
}
.tif-featured-area .button-area {
	margin-top: auto;
}
